<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}{{ site.favicon }}">

{%- include head.html -%}

<header>
  {%- include header.html -%}
</header>

<body>
  <style>
    .wide-container {
        max-width: 1200px; /* or any desired width */
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }
  </style>

  <br>

  
  <div class="wide-container">


    <section>
      {{ content }}
    </section>

  </div>
</body>

{% include footer.html %}

</html>